<!-- score-counter.component.html -->
<ion-grid>
  <ion-row>
    <ion-col>
      {{ title }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="counter">
      {{ count }}
    </ion-col>
  </ion-row>
  <ion-row  class="middleContent">
    <ion-col>
      <ion-button color="light" (click)="subtract()">-</ion-button>
    </ion-col>
    <ion-col>
      {{ score > 1 ? score : '' }}
    </ion-col>
    <ion-col>
      <ion-button color="light" (click)="add()">+</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
