<!-- app.component.html -->
<ion-grid>
  <ion-row style="height: 100%; padding: 10px 10px 20px 10px">
    <ion-col size="8">
      <ion-grid id="scoreboard">
        <ion-row class="competitor" *ngFor="let competitor of competitors; let i = index">
          <ion-col size="12">
            <!-- Competitor's name and team -->
            <ion-input [(ngModel)]="competitor.name" placeholder="Nome do competidor"></ion-input>
          </ion-col>

          <ion-col size="3">
            <app-score-counter [score]="4" [(count)]="competitor.points.mountBackMount" title="Montada / Pegada nas Costas" color="{{ i == 1 ? '#000' : '#fff' }}"></app-score-counter>
          </ion-col>

          <ion-col size="3">
            <app-score-counter [score]="3" [(count)]="competitor.points.guardPass" title="Passagem de Guarda" color="{{ i == 1 ? '#000' : '#fff' }}"></app-score-counter>
          </ion-col>

          <ion-col size="3">
            <app-score-counter [score]="2" [(count)]="competitor.points.fallSweepKneeOnBelly" title="Queda / Raspagem / Joelho na Barriga" color="{{ i == 1 ? '#000' : '#fff' }}"></app-score-counter>
          </ion-col>

          <ion-col size="3">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <app-score-counter [smallScore]="true" [score]="1" [(count)]="competitor.points.advantage" title="Vantagem" bgColor="#2dd36f" color="#000"></app-score-counter>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <app-score-counter [smallScore]="true" [score]="1" [(count)]="competitor.points.punishment" title="Punição" bgColor="#eb445a" color="#000"></app-score-counter>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>

    <ion-col size="4">
      <ion-grid id="timerGrid">
        <ion-row>
          <ion-col><h1>{{ competitors[0].totalPoints }}</h1></ion-col>
     
        </ion-row>
        <ion-row>
          <ion-col>
            <app-timer (onReset)="resetAllScores()" [fireAction]="onActionEmitter" [buzzerAction]="onBuzzerEmitter"></app-timer>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h1>{{ competitors[1].totalPoints }}</h1></ion-col>
      
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
